{% extends 'base.html' %}

{% block title %}{{ riddle.riddle_text }}{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ riddle.rid_title }}</h1>
    <h4>{{ riddle.rid_text }}</h4>

    {% if error_message %}
      <p>
        <strong>{{ error_message }}</strong>
      </p>
    {% endif %}

    <form action="{% url 'riddles_app:answer' riddle.id %}" method="post">

      {% csrf_token %}
      {% for option in riddle.option_set.all %}
        <input type="radio" value="{{ option.id }}" name="option" id="option{{ forloop.counter }}"/>  
        <label for="option{{ forloop.counter }}">{{ option.text }}</label><br>
      {% endfor %}
      <input type="submit" value="Answer" />

    </form>
  </div>
{% endblock %}
